<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Home </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form id="first_form" action="http://127.0.0.1:5000/create_profile" method="POST">
						<div class="f_name">
							<h2>First Name: <input type="text" id="f_name1" name="first_name"></h2>
						</div>
						<div class="l_name">
							<h2>Last Name: <input type="text" id="l_name1" name="last_name"></h2>
						</div>
						<div class="dob">
							<h2>Date of Birth: <input type="text" id="dob1" name="dob"></h2>
						</div>
						<div class="address">
							<h2>Address: <input type="text" id="address1" name="address"></h2>
						</div>
						<div class="city">
							<h2>City: <input type="text" id="city1" name="city"></h2>
						</div>
						<div class="state">
							<h2>State: <input type="text" id="state1" name="state"></h2>
						</div>
						<div class="phone_no">
							<h2>Phone Number: <input type="text" id="phone_no1" name="phone_no"></h2>
						</div>
						<div class="submit_class">
							<input value="Submit" type="submit" class="submit_button">
						</div>
					</form>
				</div>	
			</div>
		</div>
	</body>