<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data With ID of {{ data[0] }}</h1>
    <table>
        <td>
            {{ data[1] }}
        </td>
        <td>
            {{ data[2] }}
        </td>
        <td>
            {{ data[3] }}
        </td>
        <td>
            {{ data[4] }}
        </td>
        <td>
            {{ data[5] }}
        </td>
        <td>
            {{ data[6] }}
        </td>
        <td>
            {{ data[7] }}
        </td>
    </table>


    <a href="/delete?id={{ data[0] }}">Delete Profile</a>
</body>
</html>